doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title DevDanceAcademy
        block script 
        block style 
    body 
        nav#navbar
            .logo 
                strong DDA 
                img(src="../static/girl.png", alt="logo")
            ul 
                li #[a(href="/") HOME ]
                li #[a(href="#") CLASS info ]
                li #[a(href="#") SERVICES ]
                li #[a(href="/contact") CONTACT]
                li #[a(href="#") SERVICES ]
        block content 
        footer#footer 
            | Copyright © 2019 DevDanceAcademy.com | All right reserved 