form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
    justify-content: center;
}
.myinp {
    display: block;
    padding: 10px;
    margin: 7px;
    border-radius: 10px;
}
h2{
    margin-top: 30px;
    color: white;
    text-align: center;
}
.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
button {
    padding: 8px 20px;
    border-radius: 9px;
    margin: 6px 22px;
}
